#photos.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"} 
            %span{"aria-hidden" => "true"} &times;
          %h4#myModalLabel.modal-title Photos
        .modal-body
          #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
            .carousel-inner
              - @restaurant.assets.each_with_index do |image, index|
                %div{:class => "item #{'active' if index == 0}"}
                  = image_tag image.avatar.url(:medium)
            %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
              %span.glyphicon.glyphicon-chevron-left
            %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
              %span.glyphicon.glyphicon-chevron-right
