.list_box {
  margin-bottom: 20px;
  background: #fff;
  padding: 15px 0;
  color: #444444;
}

.list_box .header {
  min-height: 1px;
  padding-right: 30px;
  padding-left: 30px;
}

.list_box .red {
  color: red;
}

.list_box img {
  float: right;
}

.carousel-inner .item img {
  height: 300px;
  width: 600px;
}
